Options -Indexes

RewriteEngine On

# Якщо вже /web - нічого не робимо
RewriteCond %{REQUEST_URI} ^/web/ [OR]
RewriteCond %{REQUEST_URI} ^/web$
RewriteRule ^ - [L]

# Все інше віддаємо з /web
RewriteRule ^(.*)$ web/$1 [L]
