.layout--twocol-section {
  flex-wrap: nowrap;
}

.layout__region {
  margin: 10px;

  .field--name-title {
    font-size: 21px;
  }
}

.dxpr-theme-footer .footer-container {
  padding-bottom: 0.9375rem;

  .region-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .navbar-nav {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .footer-menu {
    margin: 0 1rem;
  }
}

.body--dxpr-theme-nav-mobile .dxpr-theme-header .navbar-container .navbar-header-wrapper .navbar-header {
  height: var(--dxt-setting-header-mobile-height);
}

.align-center {
  text-align: center;
}

.field--label-above {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & > .field__label {
    margin-right: 1em;
  }
}

.row {
  margin-top: auto;
}

.staff-card {
  max-width: 192px;
}

.phone-number::before {
  content: url('../images/phone.svg');
  display: inline-block;
  margin-right: 4px;
  vertical-align: -2px;
}

.region-footer-secondary {
  padding: 0 1rem;
}

.body--dxpr-theme-nav-mobile {
  .wrap-branding {
    height: var(--dxt-setting-header-mobile-height);
  }
}

#block-fasu-theme-nazvasaytu {
  margin: 0 10px;
}

.site-name-block > span {
  font-size: 32px;

  @media screen and (width > 385) and (width <= 670px) {
    font-size: 24px;
  }

  @media screen and (width <= 385px) {
    font-size: 16px;
  }
}

.navbar-header-wrapper {
  display: flex;
  flex-direction: column;

  .region-navigation-collapsible {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 820px) {
      flex-direction: column;
      flex-wrap: unset;
      align-items: unset;
      justify-content: unset;
    }
  }
}

@media (min-width: 534px) and (max-width: 820px), (min-width: 1281px) {
  .d-colapse-none {
    display: none;
  }

  .d-colapse-inline {
    display: inline;
  }
}
@media (max-width: 533px), (min-width: 821px) and (max-width: 1280px) {
  .d-full-none {
    display: none;
  }

  .d-full-inline {
    display: inline;
  }
}

@media screen and (width <= 820px) {
  #dxpr-theme-main-menu {
    margin-top: var(--dxt-setting-header-mobile-height);
  }
}
