.layout--twocol-section {
  flex-wrap: nowrap;
}

.layout__region {
  margin: 10px;

  .field--name-title {
    font-size: 21px;
  }
}

.dxpr-theme-footer .footer-container {
  padding-bottom: 0.9375rem;

  .region-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .navbar-nav {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .footer-menu {
    margin: 0 1rem;
  }
}

.body--dxpr-theme-nav-mobile .dxpr-theme-header .navbar-container .navbar-header-wrapper .navbar-header {
  height: var(--dxt-setting-header-mobile-height);
}

.align-center {
  text-align: center;
}

.field--label-above {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & > .field__label {
    margin-right: 1em;
  }
}

.row {
  margin-top: auto;
}

.staff-card {
  max-width: 192px;
}

.phone-number::before {
  content: url('../images/phone.svg');
  display: inline-block;
  margin-right: 4px;
  vertical-align: -2px;
}

.region-footer-secondary {
  padding: 0 1rem;
}

.body--dxpr-theme-nav-mobile {
  .wrap-branding {
    height: var(--dxt-setting-header-mobile-height);
  }
}

#block-fasu-theme-nazvasaytu {
  margin: 0 10px;
}
